.app-table {
  & thead.p-datatable-thead {
    background-color: var(--color-dialog) !important;
    box-shadow: var(--shadow);
  }
  & td img {
    max-width: 150px;
    border-radius: 6px;
    background-color: var(--color-card) !important;

    box-shadow: var(--shadow);
  }
}
