.app-table {
  // app table
  & thead.p-datatable-thead {
    background-color: var(--color-dialog) !important;
    box-shadow: var(--shadow);
  }
  & td img {
    max-width: 150px;
    border-radius: 6px;
    background-color: var(--color-card) !important;

    box-shadow: var(--shadow);
  }
  & .restore-icon {
    display: none;
  }

  &.app-table-restore {
    & .restore-icon {
      display: block;
    }
    & .remove-icon {
      display: none;
    }
    & .start {
      background-color: var(--color-deleted);
    }
  }
}
