.app-crud {
  // app card

  & .p-button {
    margin: 0 10px;
    height: 40px;
    &.bg-card {
      border-color: var(--menu-border-color);
      border-radius: 6px !important;
      flex: 1;
      justify-content: center;
      margin: 0 10px;
    }
  }
  & .crud-filter {
    flex: 1;
    // background: var(--color-card);
    border-radius: 6px;
    margin-left: 20px;
    .filter {
      margin-top: 10px;
      background-color: var(--color-card);
    }
  }
  & .p-accordion-header {
    border-radius: 6px 6px 0 0;
    background: var(--color-card);
  }
}

.justiy-content-between {
  justify-content: space-between;
}

.descktop-filters {
  flex: 1;
  padding: 0 10px;
}
