.icon-btn {
  width: 32px;
  height: 32px;
  line-height: 35px;
  cursor: pointer;
  margin-inline-end: 10px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--color-card);
  transition: all 0.3s;
  display: inline-block;
  &:hover {
    transform: scale(1.04);
  }
}
