body.rtl {
  direction: rtl;
  --font-family: "Cairo", sans-serif;
  .layout-wrapper {
    background-position-x: 0;
  }
  & .login-wrapper footer {
    left: auto;
    right: 750px;
  }
  & aside.desktop-menu {
    left: auto !important;
    right: 0 !important;
  }
  .right-0 {
    left: 0px !important;
    right: auto !important;
  }
  .p-datepicker-next-icon,
  .p-datepicker-prev-icon,
  .p-menuitem-separator,
  .p-submenu-icon {
    transform: rotate(180deg);
  }
  .p-panelmenu-header.p-highlight .p-submenu-icon {
    transform: rotate(0deg);
  }

  & aside.desktop-menu {
    border-left: 1px solid var(--menu-border-color);
    border-right: none !important;
  }
  .p-sidebar {
    border-radius: 30px 0 0 30px !important;
    &-right {
      direction: ltr !important;
    }
    &-content {
      direction: rtl !important;
    }
  }

  .layout-wrapper {
    &:not(.layout-sidebar-active) .app-menu {
      & .p-menuitem-icon {
        right: 50%;
        transform: translateX(50%);
      }
    }
    & aside.desktop-menu:hover {
      & .p-menuitem-icon {
        right: 0;
        transform: translateX(0%) !important;
      }
    }
  }
}
